<div class="trivia-loader">
    <div class="splash">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
  <p>{{message}}</p>

</div>
