@use '../../../sass/01-abstracts/variable' as *;
@use '../../../sass/01-abstracts/mixins' as *;

.container-auth{
    height: 89vh;
    background-image: url(../../../assets/image/img/card/background.svg);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-position-y: -45px;
    @media(max-width: 2600px){
    }
    @media(max-width: 4000px){
        height: 87vh;
        align-items: start;
        background-position-y: 0;
    }
    

    @media(max-width: 1680px){
        height: 90vh;
        align-items: center;
        //background-position-y: -45px;
    }

    @media(max-width: 1440px){
    }
    @media(max-width: 1300px){
    }
    @media(max-width: 1050px){
    }
    @media(max-width: 600px){
        height: 90vh;
        display: block;
        background-image: url(../../../assets/image/img/card/background.svg);
        background-position-y: 0px;
    }

    &__formulario{
        text-align: center;
        @media(max-width: 4000px){
           width: 40%;
        }
        @media(max-width: 1960px){
            width: auto;
         }
        .logo{
            img{
                width: 76%;
                margin-bottom: 40px;
                @media(max-width: 4000px){
                    width: 95%;
                    padding-top: 140px;
                    margin-bottom: 115px;
                }
                @media(max-width: 2000px){
                    margin-bottom: 20px;
                }

                @media(max-width: 1680px){
                    padding-top: 0;
                    width: 76%;
                    margin-bottom: 20px;
                }
                @media(max-width: 600px){
                    width: 100%;
                }
            }
            @media(max-width: 4000px){
                align-items: start;
                background-position-y: 0;
            }
            @media(max-width: 1680px){
                width: 95%;
                margin: auto;
            }
            @media(max-width: 600px){
                width: 95%;
                margin-bottom: 0px;
                padding-top: 40px;
            }
        }
        form{
            background-color: $white;
            width: 60%;
            margin: auto;
            padding: 35px 60px;
            box-sizing: border-box;
            border-radius: 35px;
            @media(max-width: 4000px){
                width: 85%;
                padding: 150px 100px;
            }

            @media(max-width: 1960px){
                width: 100%;
                padding: 70px 60px;
            }

            @media(max-width: 1680px){
                width: 60%;
                padding: 35px 60px;
            }
            @media(max-width: 600px){
                width: 85%;
                padding: 50px 35px;
                padding-top: 40px;
            }

            h3{
                color: $color-primary;
                font-size: 22px;
                font-weight: 600;

                @media(max-width: 4000px){
                    font-size: 50px;
                }

                @media(max-width: 1960px){
                    font-size: 28px;
                }

                @media(max-width: 1680px){
                    font-size: 24px;
                }
                @media(max-width: 600px){
                    font-size: 17px;
                    line-height: 1.3;
                }   
            }

            .form-group{
                display: flex;
                flex-direction: column;
                text-align: left;
                padding-top: 30px;
                @media(max-width: 600px){
                    padding-top: 20px;
                }   
                label{
                    font-size: 15px;
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: $color-primary;

                    @media(max-width: 4000px){
                        font-size: 40px;
                    }
                    @media(max-width: 1960px){
                        font-size: 22px;
                    }
    
                    @media(max-width: 1680px){
                        font-size: 14px;
                    }
                    
                }
                input{
                    @include input(18px, 3px, $color-primary, 10px);
                    text-align: center;
                    font-weight: 600;
                    margin-bottom: 10px;
                    border-radius: 10px !important; 
                    border: 2px solid $color-primary;
                    @media(max-width: 4000px){
                        font-size: 40px;
                        @include input(50px, 2px, $color-primary, 35px);
                        margin-bottom: 30px;
                    }

                    @media(max-width: 1960px){
                        @include input(23px, 2px, $color-primary, 15px);
                        margin-bottom: 15px;
                    }

                    @media(max-width: 1680px){
                        @include input(18px, 2px, $color-primary, 10px);
                        margin-bottom: 10px;
                    }

                    @media(max-width: 600px){
                        @include input(18px, 2px, $color-primary, 5px);
                        margin-bottom: 5px;
                    }   
                    border: 2px solid $color-primary;
                }
                span{
                    font-size: 14px;
                    color: red;
                    @media(max-width: 4000px){
                        font-size: 40px;
                    }
                    @media(max-width: 1960px){
                        font-size: 18px;
                    }
                    @media(max-width: 1680px){
                        font-size: 12px;
                    }
                }
            }
            button{
                @include button(true, $color-primary, $white, 10px, 18px, 10px);
                margin: auto;
                cursor: pointer;

                @media(max-width: 4000px){
                    width: 75%;
                    @include button(true, $color-primary, $white, 10px, 50px, 35px);
                    margin: auto;
                }
                
                @media(max-width: 1960px){
                    width: 75%;
                    @include button(true, $color-primary, $white, 10px, 23px, 15px);
                    margin: auto;
                }
                @media(max-width: 1680px){
                    width: 75%;
                    @include button(true, $color-primary, $white, 10px, 20px, 10px);
                    margin: auto;
                }

                @media(max-width: 600px){
                    width: 70%;
                    @include button(true, $color-primary, $white, 10px, 16px, 8px);
                    margin: auto;
                }  
            }
        }
        .brands{
            width: 80%;
            margin-top: 50px;
            @media(max-width: 600px){
                position: fixed;
                bottom: 25px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}

@media (max-width:600px){
    app-header{
        //display: none;
    }
}
