<app-header></app-header>
<app-loader *ngIf="isLoading"></app-loader>

<div class="container-auth">
  <div class="container-auth__formulario">

    <div class="logo">
      <img src="../../../assets/image/img/logo-sanpedro.svg" alt="">
    </div>

    <form [formGroup]="frmLogin" (ngSubmit)="validarUsuario()">
      <h3>Ingresa con tu número de DNI</h3>
      <div class="form-group">
        <label class="letter-medium" for="">DNI:</label>
        <input type="text" formControlName="document">
        <span *ngIf="frmLogin.get('document')?.touched && f['document'].invalid">Digite un documento</span>
      </div>
<!-- [disabled]="frmLogin.invalid" -->
      <div class="form-group">
        <button class="btn letter-medium" type="submit" [disabled]="buttonClicked$">Ingresar</button>
      </div>

    </form>

    <img class="brands" src="../../../assets/image/img/login/brands.svg" alt="">

  </div>
</div>