<app-header></app-header>
<app-loader *ngIf="isLoading"></app-loader>

<div class="container-card">
    <!---<div class="container-card__logo">
        <img src="../../../assets/image/img/logo-sanpedro.svg" alt="">
    </div>-->
    
    <div class="cards">
        <app-card  *ngFor="let card of card$" 
        [b1]="card.b1" [i1]="card.i1" [n1]="card.n1" [g1]="card.g1" [o1]="card.o1"
        [b2]="card.b2" [i2]="card.i2" [n2]="card.n2" [g2]="card.g2" [o2]="card.o2"
        [b3]="card.b3" [i3]="card.i3"                [g3]="card.g3" [o3]="card.o3"
        [b4]="card.b4" [i4]="card.i4" [n4]="card.n4" [g4]="card.g4" [o4]="card.o4"
        [b5]="card.b5" [i5]="card.i5" [n5]="card.n5" [g5]="card.g5" [o5]="card.o5"
        [id]="card.id"
        ></app-card>
        <!--<app-card 
        [b1]="'1'" [i1]="'2'" [n1]="'3'" [g1]="'4'" [o1]="'5'"
        [b2]="'6'" [i2]="'7'" [n2]="'8'" [g2]="'9'" [o2]="'10'"
        [b3]="'11'" [i3]="'12'"                [g3]="'13'" [o3]="'14'"
        [b4]="'15'" [i4]="'16'" [n4]="'17'" [g4]="'18'" [o4]="'19'"
        [b5]="'20'" [i5]="'21'" [n5]="'22'" [g5]="'23'" [o5]="'24'"
        [id]="'25'"
        ></app-card>-->
    </div>

    <img class="brands" src="../../../assets/image/img/login/brands.svg" alt="">
    
</div>
