@use '../../../../sass/01-abstracts/variable' as *;
@use '../../../../sass/01-abstracts/mixins' as *;
.container-card{
    background: $color-primary;
    padding: 20px 35px;
    box-sizing: border-box;
    text-align: center;
    width: 90%;
    border-radius: 20px;
    border: 4px solid $white;
    margin-bottom: 25px;
    @media(max-width: 4000px){
        width: 85%;
        padding: 90px;
        border-width: 15px;
    }

    @media(max-width: 2600px){
        width: 835px;
        padding: 35px 70px;
        border: 4px solid #fff;
        border-radius: 20px;
    }
    @media(max-width: 1960px){
        width: 730px;
        padding: 35px 65px;
    }

    @media(max-width: 1680px){
        width: 450px;
        padding: 30px 45px;
    }

    @media(max-width: 1440px){
        width: 590px;
        padding: 35px 50px;
    }

    @media(max-width: 1300px){
        width: 475px;
        padding: 35px 40px;
    }

    @media(max-width: 1050px){
        width: 410px;
        padding: 35px 40px;
    }

    @media(max-width: 600px){
        width: 350px;
        margin: auto;
        border-radius: 15px;
        padding: 10px 20px;
    }

    @media(max-width: 450px){
        width: 325px;
        padding: 10px 20px;
    }

    @media(max-width: 420px){
        width: 300px;
        padding: 10px 20px;
        border-width: 5px;
    }
    .card{
        display: flex;
        flex-wrap: wrap;
    
        &-header{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__letter{
                width: 18%;
                height: 65px;
                font-size: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                color: $white;
                font-weight: bold;
                @media(max-width: 4000px){
                    width: 135px;
                    height: 135px;
                    font-size: 85px;
                }

                @media(max-width: 2600px){
                    width: 125px;
                    height: 110px;
                    font-size: 65px;
                }

                @media(max-width: 1960px){
                    width: 100px;
                    height: 100px;
                }

                @media(max-width: 1680px){
                    width: 60px;
                    height: 40px;
                    font-size: 40px;
                }

                @media(max-width: 1440px){
                    width: 65px;
                    height: 65px;
                    font-size: 40px;
                }

                @media(max-width: 1300px){
                    width: 65px;
                    height: 65px;
                    font-size: 32px;
                }

                @media(max-width: 1050px){
                    width: 60px;
                    height: 60px;
                    font-size: 26px;
                    margin-bottom: 10px;
                }


                @media(max-width: 600px){
                    width: 40px;
                    height: 40px;
                    font-size: 26px;
                    margin-bottom: 7px;
                }
            }
        }
        &-body{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__number{
                width: 18%;
                height: 65px;
                font-size: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                background-color: $white;
                color: $color-primary;
                border-radius: 5px;
                @media(max-width: 4000px){
                    width: 160px;
                    height: 160px;
                    font-size: 75px;
                }
                @media(max-width: 2600px){
                    width: 120px;
                    height: 110px;
                    font-size: 52px;
                }

                @media(max-width: 1960px){
                    width: 100px;
                    height: 100px;
                }

                @media(max-width: 1680px){
                    width: 60px;
                    height: 60px;
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                @media(max-width: 1440px){
                    width: 85px;
                    height: 85px;
                    font-size: 45px;
                    margin-bottom: 15px;
                }

                @media(max-width: 1300px){
                    width: 65px;
                    height: 65px;
                    font-size: 32px;
                }

                @media(max-width: 1050px){
                    width: 55px;
                    height: 55px;
                    font-size: 26px;
                }

                @media(max-width: 600px){
                    width: 17%;
                    height: 45px;
                    font-size: 24px;
                    margin-bottom: 7px;
                }

            }
            &__logo{
                width: 18%;
                height: 65px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                @media(max-width: 4000px){
                    width: 120px;
                    height: 160px;
                }

                @media(max-width: 2600px){
                    width: 120px;
                    height: 110px;
                    font-size: 52px;
                }

                @media(max-width: 1960px){
                    width: 100px;
                    height: 100px;
                }

                @media(max-width: 1680px){
                    width: 60px;
                    height: 65px;
                    font-size: 32px;
                    margin-bottom: 5px;
                }

                @media(max-width: 1440px){
                    width: 85px;
                    height: 85px;
                    font-size: 45px;
                    margin-bottom: 15px;
                }

                @media(max-width: 1300px){
                    width: 65px;
                    height: 65px;
                    font-size: 32px;
                }

                @media(max-width: 1050px){
                    width: 55px;
                    height: 55px;
                    font-size: 26px;
                }


                @media(max-width: 600px){
                    width: 17%;
                    height: 50px;
                    font-size: 28px;
                    margin-bottom: 7px;
                }
                img{
                    width: 90%;
                    margin: auto;
                }
            }
        }
    }
}
.container-action{
    width: 100%;
    text-align: center;
    @media(max-width: 600px){
        width: 100%;
        margin: 20px 0;
        margin-bottom: 40px;
    }
    &__download{
        width: 48%;
        @include button(false, $white,  $color-primary, 15px, 18px, 10px);
        font-size: 16px !important;
        font-weight: 600  !important;
        @media(max-width: 4000px){
            width: 60%;
            @include button(false, $white,  $color-primary, 15px, 50px !important, 30px);
        }
        @media(max-width: 2600px){
            @include button(false, $white,  $color-primary, 15px, 30px !important, 20px);
        }

        @media(max-width: 1680px){
            @include button(false, $white, $color-primary, 15px, 20px !important, 10px 20px);
        }

        @media(max-width: 450px){
            width: 60%;
        }
    }
}
