<div class="container-card">
    <app-loader  [message]="'Descargando cartilla...'" *ngIf="isLoading"></app-loader>
    
    <div class="card">
        <div class="card-header">
            <div class="card-header__letter font-chukfive letter-bold">B</div>
            <div class="card-header__letter font-chukfive letter-bold">I</div>
            <div class="card-header__letter font-chukfive letter-bold">N</div>
            <div class="card-header__letter font-chukfive letter-bold">G</div>
            <div class="card-header__letter font-chukfive letter-bold">O</div>
        </div>
        <div class="card-body">
            <div class="card-body__number font-chukfive letter-medium">{{b1}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{i1}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{n1}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{g1}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{o1}}</div>

            <div class="card-body__number font-chukfive letter-medium">{{b2}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{i2}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{n2}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{g2}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{o2}}</div>

            <div class="card-body__number font-chukfive letter-medium">{{b3}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{i3}}</div>
            <div class="card-body__logo"><img src="../../../../assets/image/img/logo.svg" alt=""></div>
            <div class="card-body__number font-chukfive letter-medium">{{g3}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{o3}}</div>

            <div class="card-body__number font-chukfive letter-medium">{{b4}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{i4}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{n4}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{g4}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{o4}}</div>

            <div class="card-body__number font-chukfive letter-medium">{{b5}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{i5}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{n5}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{g5}}</div>
            <div class="card-body__number font-chukfive letter-medium">{{o5}}</div>

        </div>
    </div>
</div>
<div class="container-action">
    <button class="btn container-action__download" (click)="downloadCard(id)">Descargar cartilla</button>
</div>
