@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');
/*
h1, h2, h3, h4, h5,
p, span, label, div{
    font-family: 'Poppins', sans-serif !important;
}
*/
@font-face {
    font-family: 'Chunkfive';
    src: url('../../assets/fonts/omnes_pro_regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/omnes_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chunkfive-bold';
    src: url('../../assets/fonts/omnes_pro_bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/omnes_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Chunkfive-medium';
    src: url('../../assets/fonts/omnes_pro_medium-webfont.woff2') format('woff2'),
         url('../../assets/fonts/omnes_pro_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Chunkfive' !important;
}

.letter-bold{
    font-family: 'Chunkfive-bold' !important;
}


.letter-medium, h2#swal2-title{
    font-family: 'Chunkfive-medium' !important;
}