@use '../../../../sass/01-abstracts/variable' as *;
@use '../../../../sass/01-abstracts/mixins' as *;

.header{
    height: auto;
    background-color: $color-primary;
    padding: 25px 4%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.mobile{
        .header-action {
            top: -30vh;
        }
        &.show{
            top: 10vh !important;
        }
    }
    &.mobile.show{
        .header-action {
            top: 10vh;
        }
    }
    
    @media(max-width: 4000px){
        height: 13vh;
        padding: 15px 4%;
    }
    

    @media(max-width: 1960px){
        height: 13vh;
        padding: 15px 4%;
    }
    @media(max-width: 1680px){
        height: 10vh;
        padding: 10px 4%;
    }
    
    @media(max-width: 600px){
        height: 10vh;
        padding: 15px 4%;
    }
    img{
        width: 140px;
        @media(max-width: 4000px){
            height: 80%;
            width: auto;
        }

        @media(max-width: 2600px){
            width: 250px;
        }

        @media(max-width: 1680px){
            width: 140px;
        }

        @media (max-width:768px){
            width: 125px;
        }

    }
    button{
        width: 100%;
        @include button(true, $white, $color-primary, 10px, 18px, 10px);
        
        @media(max-width: 4000px){
            height: 60%;
            width: auto;
            @include button(true, $white, $color-primary, 10px, 45px, 40px 160px);

        }
    

        @media(max-width: 2600px){
            @include button(true, $white, $color-primary, 10px, 30px, 15px 80px);
        }

        @media(max-width: 1680px){
            @include button(true, $white, $color-primary, 10px, 18px, 10px 60px);
        }

        @media(max-width: 600px){
            width: 100%;
            @include button(true, $color-primary, $white, 10px, 20px, 10px);
        }
    }
    
    input[type='checkbox'] {
        display: none;
    }
    &-action{
        transition: .5s ease all;
        @media(max-width: 600px){
            position: absolute;
            top: 10vh;
            width: 100%;
            left: 0;
            right: 0;
            padding: 40px;
            box-sizing: border-box;
            background: white;
        }
    }
    &-burger{
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(min-width: 600px){
            display: none;
        }
    }
/* Menu burger */

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 0px;
        position: relative;
        user-select: none;
        display: none;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        .navicon {
            background: $white;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
        }
    }


    .menu-icon .navicon:before, .menu-icon .navicon:after {
        background: $white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .menu-icon .navicon:before {
        top: 5px;
    }
    

    .menu-icon .navicon:after {
        top: -5px;
    }

    .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
    .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
    .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(
    45deg
    );
    }

    .menu-btn:checked ~ .header-buttons {
        max-height: 240px;
    }
}