<header class="header" [ngClass]="{
    'mobile': getScreenWidth <= '600',
    'show': !menu
  }">
    <img src="../../../../assets/image/img/logo.svg" alt="">
    <div class="header-action" *ngIf="isLoggin$">
        <button class="btn" (click)="openModalSession();">Cerrar Sesión</button>
    </div>

    <div class="header-burger" *ngIf="isLoggin$" (change)="toggleMenu()">
        <input class="menu-btn" type="checkbox" id="menu-btn" >
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    </div>
</header>